@page "/"


<div class="text-center" style="">
    <div class="card" style="width: 18rem;margin:auto;">
        <img class="card-img-top" src="https://i.ibb.co/0YQvQTh/mi-foto.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title bg-primary">Gustavo Ernesto Sanchez Amador</h5>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item ">Matricula: 2019-8314</li>
            <li class="list-group-item ">Correo: 20198314@itla.edu.do </li>
            
        </ul>
    </div>
</div>





